body {
    background-color: #c6d7de;
    font-family: 'Montserrat';
    padding: 3em;
    overflow: hidden;
}
.nav {
  background-color: blue;
  position: fixed;
  z-index: 300;
  top: 15;
}

#v0 {
    position: fixed;
    top: calc((100vw - 100vh)/-2);
    right: 0;
    width: 100%;
}
.videoBlock{
  height: 100vw;
  width: 100vw;
  perspective: 700px;
  z-index: 100;
  /* border: solid 2px black; */
}

#animatorBox{
  width: 450px;
  height: fit-content;
  border: solid 5px purple;
  background-color: bisque;
  position: absolute;
  z-index: 500;
}
#videopage1{
  background-color: black;
  width: 32.8%;
  height: 21.4%;
  left: 0;
  top: 0;
  position: relative;

}
#saveFile{
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  height: 50px;
  width: 80px;
}
#videopage2{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
#videopage3{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
#videopage4{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
#videopage5{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
.spin {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: ease-in-out;;
  -webkit-animation-duration: 3.5s;

  animation-name: spinner;
  animation-timing-function: ease-in-out;
  animation-duration: 3.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}
.slidecontainer {
  width: 95%; 
  margin-left: 2.5%;
}
#frameSelector{
  border: solid 3px purple;
  margin: 5px;
  padding: 3px;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%;
  height: 25px; 
  background: #d3d3d3;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: blue; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: blue; 
  cursor: pointer; 
}
.inputNumber{
  width: 60px;
  height: 30px;
  font-size: large;
  margin: 5px;

}
#leftinput{
  width: 60px;
  height: 30px;
  font-size: large;
  margin: 5px;

}
#inputNumber2{
  width: 80px;
  height: 30px;
  font-size: large;
  margin: 5px;

}
#flexstyleHolder{
  display: flex;
}
h1 {
    font-size: 3em;
    background: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}
p { font-size: 1.5em; }

.mainBlock {
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 300;
    /* border: solid 5px green; */
}
#playButton{
  top: 10%;
  position: fixed;
  z-index: 500;
}
.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.LeftToRightSpin {
  -webkit-animation: spin1 3s cubic-bezier(0,4,.35,.8);
  animation: spin1 3s cubic-bezier(0,4,.35,.8);
}


/* ----------------------------------------------
 * Generated by Animista on 2018-7-4 16:24:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spin1 {
    from {
      -moz-transform: rotateY(0deg) ;
      -ms-transform: rotateY(0deg) ;
      transform: rotateY(0deg) ;
    }
    to {
      -moz-transform: rotateY(180deg) ;
      -ms-transform: rotateY(180deg) ;
      transform: rotateY(180deg) ;
    }
  }
