body {
    background-color: #c6d7de;
    font-family: 'Montserrat';
    padding: 3em;
    overflow: hidden;
}
.nav {
  background-color: blue;
  position: fixed;
  z-index: 300;
  top: 15;
}

#v0 {
    position: fixed;
    top: calc((100vw - 100vh)/-2);
    right: 0;
    width: 100%;
}
.videoBlock{
  height: 100vw;
  width: 100vw;
  perspective: 700px;
  z-index: 100;
  /* border: solid 2px black; */

  position: fixed;
  top: calc((100vw - 100vh)/-2);
}

#animatorBox{
  width: 450px;
  height: fit-content;
  border: solid 5px purple;
  background-color: bisque;
  position: absolute;
  z-index: 500;
}
#videopage1{
  background-color: black;
  width: 32.8%;
  height: 22%;
  top: 37%; 
  left: 45%;
  position: absolute;

  /* display: none; */

}
.downFrombottom{
  -webkit-animation-name: identifier;
  -webkit-animation-duration: 3.24s;
  -webkit-animation-timing-function: linear;
}
.downFromTop{
  -webkit-animation-name: identifier2;
  -webkit-animation-duration: 3.24s;
  -webkit-animation-timing-function: linear;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 250px;
    padding: 0 5px;
    margin-left: 30px;
    margin-top: 10px;
}
#resetRotation{
  height: 30px;
  width: 70px;
  background-color: red;
  font-size: large;
  font-weight: bold;
  margin-left: 30px ;
}
#rotatorBox{
  position: absolute;
  height: 340px;
  width: 130px;
  background-color: bisque;
  border: solid 3px purple;
  
  top: 10px;
  right: -138px;
}
#saveFile{
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  height: 50px;
  width: 80px;
}
#videopage2{
  background-color: black;
  width: 32.8%;
  height: 22%;
  top: 37%; 
  left: 45%;
  position: absolute;

  display: block;

}
#videopage3{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
#videopage4{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
#videopage5{
  background-color: black;
  width: 32.5%;
  height: 38%;
  left: 12%;
  top: 25%;
  position: relative;

}
.spin {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: ease-in-out;;
  -webkit-animation-duration: 3.5s;

  animation-name: spinner;
  animation-timing-function: ease-in-out;
  animation-duration: 3.5s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.movebox {
  -webkit-animation-name: identifier;
  -webkit-animation-timing-function: ease-in-out;;
  -webkit-animation-duration: 3.5s;
}

#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
}
.slidecontainer {
  width: 95%; 
  margin-left: 2.5%;
}
#frameSelector{
  border: solid 3px purple;
  margin: 5px;
  padding: 3px;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%;
  height: 25px; 
  background: #d3d3d3;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: blue; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: blue; 
  cursor: pointer; 
}
.inputNumber{
  width: 60px;
  height: 30px;
  font-size: large;
  margin: 5px;

}
#leftinput{
  width: 60px;
  height: 30px;
  font-size: large;
  margin: 5px;

}
#inputNumber2{
  width: 80px;
  height: 30px;
  font-size: large;
  margin: 5px;

}
#flexstyleHolder{
  display: flex;
}
h1 {
    font-size: 3em;
    background: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}
p { font-size: 1.5em; }

.mainBlock {
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 300;
    /* border: solid 5px green; */
}
#playButton{
  top: 10%;
  position: fixed;
  z-index: 500;
}
.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.LeftToRightSpin {
  -webkit-animation: spin1 3s cubic-bezier(0,4,.35,.8);
  animation: spin1 3s cubic-bezier(0,4,.35,.8);
}


/* ----------------------------------------------
 * Generated by Animista on 2018-7-4 16:24:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spin1 {
    from {
      -moz-transform: rotateY(0deg) ;
      -ms-transform: rotateY(0deg) ;
      transform: rotateY(0deg) ;
    }
    to {
      -moz-transform: rotateY(180deg) ;
      -ms-transform: rotateY(180deg) ;
      transform: rotateY(180deg) ;
    }
  }
  @-webkit-keyframes identifier {
    0% { top: 37%; left: 45%; transform: rotateY(180deg); }
    2.46%{ left:45.2%; top: 37.8%; transform: rotateY(181deg); width: 32.8%; height: 21.2%;}
    4.93% {left: 45.3%;  top: 38.1%;  transform: rotateY(182deg); height: 21.2% }
    7.40%{ left: 46%; top: 39%; transform: rotateY(183deg); width: 32.8%; height: 21.2%;}
    9.87% { left: 46.3%; top: 39.7%;   transform: rotateY(184deg); height: 21.3% }
    14.80% {left: 47.8%; top: 42%;   transform: rotateY(184deg); width: 32.2%; height: 21.3% }
    17.28%{ left: 48.7%; top: 43.1%; transform: rotateY(184deg); width: 32.2%; height: 21.2%;}
    19.75%{ left: 49.8%; top: 44.8%; transform: rotateY(186deg); width: 32.2%; height: 21.2%;}
    22.22%{ left: 50.9%; top: 46.5%; transform: rotateY(188deg); width: 32%; height: 21.1%;}
    24.67%{ left: 52%; top: 48%; transform: rotateY(192deg); width: 32%; height: 21%;}
    29.62%{ left: 54.7%; top: 52.5%; transform: rotateY(193deg); width: 31%; height: 20.8%;}
    34.53%{ left: 58.3%; top: 58%; transform: rotateY(198deg); width: 29.5%; height: 20.8%;}
    39.49%{ left: 61.3%; top: 62.8%; transform: rotateY(204deg); width: 28.4%; height: 20.8%;}
    44.41%{ left: 64%; top: 67.8%; transform: rotateY(209deg); width: 27%; height: 20.3%;}
    49.36%{ left: 67.2%; top: 72%; transform: rotateY(211deg); width: 24.2%; height: 20.4%;}
    54.32%{ left:68.5%; top: 76%; transform: rotateY(219deg); width: 24.0%; height: 20.3%;}
    59.23%{ left: 70.9%; top: 80%; transform: rotateY(222deg); width: 22%; height: 21%;}
    64.19%{ left:72.8%; top: 84%; transform: rotateY(233deg); width: 20%; height: 21%;}
    69.10%{ left: 76.8%; top: 96%; transform: rotateY(240deg); width: 13%; height: 21.4%;}
    74.07%{ left:67.6%; top: 96%; transform: rotateY(250deg); width: 32.8%; height: 22%;}
    100% { left:67.6%; top: 110%; transform: rotateY(250deg); width: 32.8%; height: 22%;}
  }
  @keyframes identifier {
    0% { top: 37%; left: 45%; transform: rotateY(180deg); }
    2.46%{ left:45.2%; top: 37.8%; transform: rotateY(181deg); width: 32.8%; height: 21.2%;}
    4.93% {left: 45.3%;  top: 38.1%;  transform: rotateY(182deg); height: 21.2% }
    7.40%{ left: 46%; top: 39%; transform: rotateY(183deg); width: 32.8%; height: 21.2%;}
    9.87% { left: 46.3%; top: 39.7%;   transform: rotateY(184deg); height: 21.3% }
    14.80% {left: 47.8%; top: 42%;   transform: rotateY(184deg); width: 32.2%; height: 21.3% }
    17.28%{ left: 48.7%; top: 43.1%; transform: rotateY(184deg); width: 32.2%; height: 21.2%;}
    19.75%{ left: 49.8%; top: 44.8%; transform: rotateY(186deg); width: 32.2%; height: 21.2%;}
    22.22%{ left: 50.9%; top: 46.5%; transform: rotateY(188deg); width: 32%; height: 21.1%;}
    24.67%{ left: 52%; top: 48%; transform: rotateY(192deg); width: 32%; height: 21%;}
    29.62%{ left: 54.7%; top: 52.5%; transform: rotateY(193deg); width: 31%; height: 20.8%;}
    34.53%{ left: 58.3%; top: 58%; transform: rotateY(198deg); width: 29.5%; height: 20.8%;}
    39.49%{ left: 61.3%; top: 62.8%; transform: rotateY(204deg); width: 28.4%; height: 20.8%;}
    44.41%{ left: 64%; top: 67.8%; transform: rotateY(209deg); width: 27%; height: 20.3%;}
    49.36%{ left: 67.2%; top: 72%; transform: rotateY(211deg); width: 24.2%; height: 20.4%;}
    54.32%{ left:68.5%; top: 76%; transform: rotateY(219deg); width: 24.0%; height: 20.3%;}
    59.23%{ left: 70.9%; top: 80%; transform: rotateY(222deg); width: 22%; height: 21%;}
    64.19%{ left:72.8%; top: 84%; transform: rotateY(233deg); width: 20%; height: 21%;}
    69.10%{ left: 76.8%; top: 96%; transform: rotateY(240deg); width: 13%; height: 21.4%;}
    74.07%{ left:67.6%; top: 96%; transform: rotateY(250deg); width: 32.8%; height: 22%;}
    100% { left:67.6%; top: 110%; transform: rotateY(250deg); width: 32.8%; height: 22%;}
  }
 
  @keyframes identifier2 {
    0%{ left:27.3%; top: -40%; transform: rotateY(98deg); width: 16%; height: 22%;}
    14.81%{ left:27.3%; top: -26%; transform: rotateY(98deg); width: 16%; height: 22%;}
    19.75%{ left:27%; top: -20%; transform: rotateY(102deg); width: 17%; height: 22%;}
    24.69%{ left:26.2%; top: -16%; transform: rotateY(108deg); width: 18%; height: 22%;}
    29.62%{ left:25.8%; top: -15%; transform: rotateY(117deg); width: 21%; height: 22.7%;}
    34.56%{ left:24.7%; top: -8%; transform: rotateY(123deg); width: 25%; height: 20.5%;}
    39.50%{ left:25.4%; top: -2.9%; transform: rotateY(129deg); width: 25.9%; height: 19.2%;}
    44.44%{ left:26.3%; top: 0%; transform: rotateY(136deg); width: 26.8%; height: 20.8%;}
    49.38%{ left:27%; top: 2.3%; transform: rotateY(140deg); width: 27.8%; height: 21%;}
    54.32%{ left:29.4%; top: 7%; transform: rotateY(149deg); width: 28%; height: 21.5%;}
    59.25%{ left:31.5%; top: 11.4%; transform: rotateY(158deg); width: 29%; height: 22%;}
    64.19%{ left:33.6%; top: 17.4%; transform: rotateY(165deg); width: 31.2%; height: 21.3%;}
    69.13%{ left:36%; top: 22.2%; transform: rotateY(167deg); width: 31.5%; height: 21%;}
    74.07%{ left:38.2%; top: 26.2%; transform: rotateY(172deg); width: 32%; height: 20.7%;}
    79.01%{ left:40%; top: 28.9%; transform: rotateY(173deg); width: 32%; height: 20.8%;}
    82.71%{ left:41.4%; top: 31.3%; transform: rotateY(175deg); width: 32.3%; height: 22%;}
    86.41%{ left:42.7%; top: 33.3%; transform: rotateY(178deg); width: 32.4%; height: 21%;}
    91.35%{ left:44%; top: 35.7%; transform: rotateY(179deg); width: 32.7%; height: 21%;}
    96.29%{ left:44.6%; top: 36.7%; transform: rotateY(180deg); width: 32.8%; height: 22%;}
    100%{ left:44.6%; top: 36.7%; transform: rotateY(180deg); width: 32.8%; height: 22%;}
  }
 
  @-webkit-keyframes identifier2 {
    0%{ left:27.3%; top: -40%; transform: rotateY(98deg); width: 16%; height: 22%;}
    14.81%{ left:27.3%; top: -26%; transform: rotateY(98deg); width: 16%; height: 22%;}
    19.75%{ left:27%; top: -20%; transform: rotateY(102deg); width: 17%; height: 22%;}
    24.69%{ left:26.2%; top: -16%; transform: rotateY(108deg); width: 18%; height: 22%;}
    29.62%{ left:25.8%; top: -15%; transform: rotateY(117deg); width: 21%; height: 22.7%;}
    34.56%{ left:24.7%; top: -8%; transform: rotateY(123deg); width: 25%; height: 20.5%;}
    39.50%{ left:25.4%; top: -2.9%; transform: rotateY(129deg); width: 25.9%; height: 19.2%;}
    44.44%{ left:26.3%; top: 0%; transform: rotateY(136deg); width: 26.8%; height: 20.8%;}
    49.38%{ left:27%; top: 2.3%; transform: rotateY(140deg); width: 27.8%; height: 21%;}
    54.32%{ left:29.4%; top: 7%; transform: rotateY(149deg); width: 28%; height: 21.5%;}
    59.25%{ left:31.5%; top: 11.4%; transform: rotateY(158deg); width: 29%; height: 22%;}
    64.19%{ left:33.6%; top: 17.4%; transform: rotateY(165deg); width: 31.2%; height: 21.3%;}
    69.13%{ left:36%; top: 22.2%; transform: rotateY(167deg); width: 31.5%; height: 21%;}
    74.07%{ left:38.2%; top: 26.2%; transform: rotateY(172deg); width: 32%; height: 20.7%;}
    79.01%{ left:40%; top: 28.9%; transform: rotateY(173deg); width: 32%; height: 20.8%;}
    82.71%{ left:41.4%; top: 31.3%; transform: rotateY(175deg); width: 32.3%; height: 22%;}
    86.41%{ left:42.7%; top: 33.3%; transform: rotateY(178deg); width: 32.4%; height: 21%;}
    91.35%{ left:44%; top: 35.7%; transform: rotateY(179deg); width: 32.7%; height: 21%;}
    96.29%{ left:44.6%; top: 36.7%; transform: rotateY(180deg); width: 32.8%; height: 22%;}
    100%{ left:44.6%; top: 36.7%; transform: rotateY(180deg); width: 32.8%; height: 22%;}
  }